@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
:root {
    --dark-brown: rgb(142, 50, 0);
    --dark-brown-2: rgb(166, 75, 42);
    --coffee: rgb(215, 168, 110);
    --cream: rgb(255, 235, 193);
}

* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-burn;
}

#content {
    display: grid;
    grid-template-rows: 4rem calc(100vh - 4rem);
}

#header {
    border-bottom: 2px solid var(--cream);
    color: var(--cream);
    padding: 15px;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#links {
    display: flex;
    gap: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    list-style: none;
}

#links li:hover {
    cursor: pointer;
}

#main {
    color: var(--cream);
    /* margin: auto; */
    position: absolute;
    justify-self: center;
    align-self: center;
    text-align: center;
}

#restaurant-name {
    font-weight: 900;
    font-size: 6rem;
    font-family: 'Dancing Script', cursive;
}

#description {
    font-size: 2rem;
}